.main {
    margin-top: -120px;

}


a:active {
    color: black;
}

a:hover {
    color: black;
}

header {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.prindi {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    font-size: 20px;
    height: 72px;
    align-items: center;
}

.blertina:hover {

    height: 300px;
    width: 400px;

}

.imazhi8:hover {
    height: 400px;
    width: 390px;
}

#butonat1:hover {

    background-color: blue;
}

#butonat:hover {

    background-color: blue;
}


.imazhi {
    width: 200px;
    height: 50px;
}

.prindi2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

.imazhii {
    width: 20px;
    height: 20px;
}

.butoni1 {
    width: 190px;
    height: 56px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 4px;
    font-size: 20px;
}

.butoni2 {
    width: 140px;
    height: 56px;
    background-color: #115779;
    color: white;
    border-radius: 4px;
    border: #115779;
    margin-right: 50px;
    font-size: 20px;
}

.div1 {
    background-image: url(foto/Paris.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.div4 {
    position: relative;
    bottom: 180px;
    box-shadow: 0px 16px 32px -4px rgba(62, 52, 69, 0.1);
    filter: drop-shadow(0px 2px 4px rgba(62, 52, 69, 0.04));
    width: 88%;
    padding-left: 50px;
    padding-right: 50px;
    height: 440px;
    margin: auto;


}

.prindi3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: 400px;
    height: 84px;
    background-color: white;
    color: #115779;
    margin: auto;
    font-size: 20px;
    list-style: none;
    gap: 20px;

}

.imazhi2 {

    width: 24px;
    height: 24px;
}

.li1 {

    padding-bottom: 5px;
    border-bottom: 3px solid #115779;

}

.imazhi3 {
    width: 24px;
    height: 24px;
}


a {
    text-decoration: none;
    color: #115779;
}

.forma {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #4F575E;

    font-size: 20px;
    background-color: white;
    height: 70px;
}

.prindi4 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    list-style: none;
    gap: 320px;
    background-color: white;
    margin-top: 0px;

}

#h3 {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

.prindi5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #8E979F;
    margin-top: 50px;
    margin-left: -45px;
}

.fluturimi-1 {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    border: 2px solid #CBCFD2;
    width: auto;
    height: 64px;
}

.select-1 {
    width: 250px;
    height: 65px;
    border: 1px solid #CBCFD2;
    color: #8E979F;
    padding-right: 10px;
    font-size: 20px;
}

.imazhi4 {
    width: 30px;
    height: 30px;

}

.fluturimi-2 {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    border: 2px solid #CBCFD2;
    width: auto;
    height: 64px;
}

.imazhi5 {
    width: 30px;
    height: 30px;

}

.data {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    border: 2px solid #CBCFD2;
    width: auto;
    height: 64px;
}

.form1 {
    width: 250px;
    height: 65px;
    border: 1px solid #CBCFD2;
    color: #8E979F;
    padding-right: 10px;
    font-size: 20px;
}

.input-1 {
    width: 190px;
    height: 60px;
    border: white;
    font-size: 20px;
    color: #8E979F;

}

.imazhi6 {
    width: 30px;
    height: 30px;

}

.titulli {
    color: #115779;
}

.person {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    border: 2px solid #CBCFD2;
    width: auto;
    height: 64px;
}

.imazhi7 {
    width: 30px;
    height: 30px;

}

.div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.butoni3 {
    width: 180px;
    height: 60px;
    background-color: #115779;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: #115779;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

.butoni3:hover {
    background-color: red;
}

.paketat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}



.oferta h4,
p,
ul {
    margin-top: 0px;
}

.paketa-turistike {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}



.imazhi8 {
    width: 340px;
    height: 380px;
}

.lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;

}

.tour {

    flex-direction: column;
    align-items: baseline;
    font-size: 20px;
    box-shadow: 0px 16px 32px -4px rgba(62, 52, 69, 0.1);
}

.butonat {
    width: 200px;
    height: 40px;
    background-color: white;
    border: 2px solid #3D55CC;
    margin-left: 70px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

#butonat {
    width: 200px;
    height: 40px;
    background-color: white;
    border: 2px solid #3D55CC;
    margin-left: 70px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

#butonat1 {
    width: 200px;
    height: 40px;
    background-color: white;
    border: 2px solid #3D55CC;
    margin-left: 70px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

#butonat2 {

    width: 200px;
    height: 40px;
    background-color: white;
    border: 2px solid #3D55CC;
    margin-left: 70px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.butonat:hover {
    background-color: red;
    color: white;
}

.titulli {
    text-align: center;
    font-size: 49px;

}



.destinacion img {
    width: 390px;
    height: 260px;
}

.destinacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0;
    gap: 16px;
}

.prindi-zgjedhjes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 68px;
}

.zgjedhjet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    gap: 32px;
    width: 372px;
    height: 390px;
    box-shadow: 0px 16px 32px -4px rgba(62, 52, 69, 0.1), 0px 2px 4px rgba(62, 52, 69, 0.04);
    left: calc(50% - 1440px/2);

}

#offer-timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #115779;
    margin-top: 20px;
    text-align: center;
}

#offer-timer span {
    font-weight: bold;
    color: #ffcc00;
}

.fotoo {
    width: 103px;
    height: 103px;

}

.zgjedhjet p {
    text-align: center;
}

.divv {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.input-2 {

    width: 300px;
    height: 50px;
    border: 2px solid #115779;
    border-radius: 5px;
    color: #8E979F;
    font-size: 20px;

}

.butoni4 {
    width: 150px;
    height: 56px;
    border: 2px solid #115779;
    border-radius: 5px;
    background-color: #115779;
    font-size: 20px;
    color: white;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: #115779;
    margin-top: 30px;
    font-size: 20px;
}

.prindi6 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

.prindi-li {
    list-style-type: disclosure-closed;
    color: #F9F9F9;


}

.footer a {

    text-decoration: none;
    color: #F9F9F9;

}

.prindi7 {
    display: flex;
    flex-direction: column;
    margin-left: 400px;

}

.prindi-li2 {
    list-style-type: disclosure-closed;
    color: #F9F9F9;

}

.prindi-li2 img {

    width: 20px;
    height: 20px;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #115779;

}

.footer1 hr {
    border: 1px solid #F9F9F9;
    width: 1300px;
}

.footer h4 {
    color: #D99528;
}

.image {
    width: 350px;
    height: 40px;
}

.tekst {
    text-align: center;
    font-size: 20px;

}

.toure {
    width: 450px;
    height: 240px;
    border-radius: 10px;

}

.prindi-toureve {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;

}

.p1 {
    margin-top: 10px;
}

.femija-tour {

    position: relative;
    bottom: 50px;
    text-align: center;
    color: white;
    padding-top: 0px;
    background-color: #1f244a;
    width: 450px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

.a2 {
    text-decoration: underline;
    color: white;

}


main h2 {
    text-align: center;
    font-size: 40px;
    color: #115779;
    font-size: 40px;
}


.maiin {
    margin: auto;
    margin-top: 40px;

}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: #115779;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
}

main {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rrethNesh {
    line-height: 1.8;
    margin-top: 20px;
}

.linqe {
    text-decoration: underline;
    color: black;
}

.rrethNesh p {
    font-size: 18px;
    color: #4f575e;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}

li b {
    color: #115779;
}

h5 {
    font-size: 22px;
    color: #115779;
    margin-top: 30px;
    text-align: center;
}

ul li {
    padding-left: 20px;
}

.tituull p {
    text-align: center;
    font-size: 18px;
    color: #b4b4b4;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 40px;
}

.footer {
    background-color: #115779;
    color: white;
    padding: 40px 20px;
}

.footer .prindi6,
.footer .prindi7 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer h4 {
    font-size: 20px;
    font-weight: bold;
}

.footer .prindi-li,
.footer .prindi-li2 {
    list-style: none;
    padding: 0;
}

.footer .prindi-li li,
.footer .prindi-li2 li {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer a {
    color: #ffcc00;
    text-decoration: none;
}

.footer li {
    color: #ffcc00;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .prindi-li2 li {
    font-size: 16px;
}

footer .prindi6,
footer .prindi7 {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

footer .prindi6 {
    background-color: #2c3e50;

}

footer .prindi7 {
    background-color: #34495e;
}

body {
    padding-top: 30px;
}

.more-photos {
    display: none;
}


#viewMoreBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#viewMoreBtn {
    width: 38%;
    margin-left: 350px;
    background-color: #e2e7ed;
    border: none;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
}

.fotobutton {

    height: 15px;
}

.kyqumeemail {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
 
    align-items: center;
    justify-content: center;
}

.kyqumeemil1 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.kyqumeemail2 {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

.kyqumeemail3 {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

.kyqumeemail4 {
    width: 90%;
    padding: 8px;
    margin-bottom: 5px;

}

.kyqumeemail5 {
    padding: 8px 12px;
    margin-left: 26%;
    color: #d8e2e7;
    background-color: #115779;
    border-radius:10px ;
    margin-top: 25px;
    padding: 10px 50px 10px 50px;

    
}

.kyqumeemail6 {
   margin-left: 280px;
    border: #ffffff;
    background-color: #ffffff;
    border-radius: 5px;
   
    
}
.kyqumeemail6:hover{
    background-color: rgb(209, 206, 234);
}
.kyqufile{
    color: #115779;
    text-align: center;
    font-size: 30px;
  
}
.otherway{
    margin-left: 178px;
    font-size: 13px;
   margin-top: 5px;     
    margin-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
   

}